.conted-cierreCaja{
    position: relative;
    color: #D8DBE2;
}
.cierre-caja{
    background-color: var(--color-secuandrio-1);
    position: absolute;
    width: 30%;
    height: 535px;
    padding:  10px;
    border-radius: 15px;    
}

.detalle{
    background-color: var(--color-secuandrio-1);
    position:absolute;
    width: 69%;
    right: 0px;
    height: 535px;
    padding: 10px;
    border-radius: 15px;
}

.header{
    text-align: center;
}
.body{
    padding-left:15px;
    margin:5px;        
}
.body li{
   
    font-size:25px;
    list-style-type: circle
}
.footer{
    position:absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
   
    text-align: center;
   
}
.footer button{    
    margin:10px;
}
@media screen and (max-width: 1240px), screen and (max-height: 850px )  {   
    .header h4{
        font-size: 22px;
    }
    .body li{   
        font-size:20px;
    }
    .report1{        
        font-size: 17px;
    }
    .lReport1{
        font-size: 19px;
    } 

}
@media screen and (max-width: 1140px){    
    .header h4{
        font-size: 21px;
    }
    .body li{   
        font-size:19px;
    }
    .report1{        
        font-size: 16px;
    }
    .lReport1{
        font-size: 18px;
    } 

}
@media screen and (max-width: 1000px) {    
    .header h4{
        font-size: 20px;
    }
    .body li{   
        font-size:17px;
    }
    .report1{        
        font-size: 16px;
    }
    .lReport1{
        font-size: 18px;
    } 

}
@media screen and (max-width: 960px), screen and (max-height: 750px){    
    .header h4{
        font-size: 19px;
    }
    .body li{   
        font-size:16.5px;
    }
    .report1{        
        font-size: 16px;
    }
    .lReport1{
        font-size: 18px;
    } 
}
@media screen and (max-width: 840px), screen and (max-height: 680px) {    
    .header h4{
        font-size: 15px;
    }
    .body{
        margin-top: -4px;
    }
    .body li{   
        margin-top: -4px;
        font-size:15.5px;
    }
    .report1{        
        font-size: 14px;
    }
    .lReport1{
        font-size: 14px;
    } 
}
@media screen and (max-width: 810px), screen and (max-height: 630px)  {    
    .header h4{
        font-size: 14.5px;
    }
    .reporte-gastos{
        position:absolute;
        top: 165px;
    }
    .body li{   
        margin-top: -4px;
        font-size:13px;
    }
    .report1{        
        font-size: 13px;
    }
    .lReport1{
        font-size: 12px;
    } 
}
@media screen and (max-width: 720px), screen and (max-height: 580px)  {    
    .header h4{
        font-size: 12.5px;
    }    
    .body li{   
        margin-top: -4px;
        font-size:12px;
    }
    .report1{        
        font-size: 11px;
    }
    .lReport1{
        font-size: 11px;
    } 
}

/* @media screen and (max-height: 850px ) {    
    .header h4{
        font-size: 20px;
    }
    .body li{   
        font-size:18px;
    }
    .report1{        
        font-size: 15px;
    }
    .lReport1{
        font-size: 17px;
    }
}
@media screen and (max-height: 750px) {    
    .header h4{
        font-size: 18px;
    }
    .body li{   
        font-size:15px;
    }
    .report1{        
        font-size: 14px;
    }
    .lReport1{
        font-size: 16px;
    }
}
@media screen and (max-height: 640px) {    
    .header h4{
        font-size: 17px;
    }
    .body li{   
        margin-top: -4px;
        
    }
    .body li{   
        font-size:14px;
    }
    .report1{        
        font-size: 13px;
    }
    .lReport1{
        font-size: 15px;
    }
} */


/* estados financiero */


.contend-table{
    height: calc(100vh - 42vh);
    overflow-y:scroll  !important;
    padding-bottom: 20px;
    height: 100% !important;
}
.content-list-estados-financieros{
    height: calc(100vh - 42vh) !important;
}
/* @media screen and (min-width: 1600px) { */
 
/* } */

#caja-content-table{
 
    height: calc(100vh - 56vh) !important;
}

#reporte-ventas-table{
    height: calc(100vh - 56vh) !important;

}