.conted-cierreCaja{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 15;
    


    position: relative;
    /* display: flex; */
    color: #D8DBE2;
}
.cierre-caja{

    background-color: var(--color-secuandrio-1);
    position: absolute;
    width: 30%;
    height: 100%;
    padding:  10px;
    border-radius: 15px;    
}

.detalle{
    background-color: var(--color-secuandrio-1);
    position:absolute;
    width: 69%;
    right: 0px;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
}

.header{
    text-align: center;
}
.body{
    padding-left:15px;
    margin:5px;        
}
.body li{
   
    font-size:25px;
    list-style-type: circle
}
.footer{
    position:absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
   
    text-align: center;
   
}
.footer button{    
    margin:10px;
}
@media screen and (max-width: 1240px), screen and (max-height: 850px )  {   
    .header h4{
        font-size: 22px;
    }
    .body li{   
        font-size:20px;
    }
    .report1{        
        font-size: 17px;
    }
    .lReport1{
        font-size: 19px;
    } 

}
@media screen and (max-width: 1140px){    
    .header h4{
        font-size: 21px;
    }
    .body li{   
        font-size:19px;
    }
    .report1{        
        font-size: 16px;
    }
    .lReport1{
        font-size: 18px;
    } 

}
@media screen and (max-width: 1000px) {    
    .header h4{
        font-size: 20px;
    }
    .body li{   
        font-size:17px;
    }
    .report1{        
        font-size: 16px;
    }
    .lReport1{
        font-size: 18px;
    } 

}
@media screen and (max-width: 960px), screen and (max-height: 750px){    
    .header h4{
        font-size: 19px;
    }
    .body li{   
        font-size:16.5px;
    }
    .report1{        
        font-size: 16px;
    }
    .lReport1{
        font-size: 18px;
    } 
}
@media screen and (max-width: 840px), screen and (max-height: 680px) {    
    .header h4{
        font-size: 15px;
    }
    .body{
        margin-top: -4px;
    }
    .body li{   
        margin-top: -4px;
        font-size:15.5px;
    }
    .report1{        
        font-size: 14px;
    }
    .lReport1{
        font-size: 14px;
    } 
}
@media screen and (max-width: 810px), screen and (max-height: 630px)  {    
    .header h4{
        font-size: 14.5px;
    }
    .reporte-gastos{
        position:absolute;
        top: 165px;
    }
    .body li{   
        margin-top: -4px;
        font-size:13px;
    }
    .report1{        
        font-size: 13px;
    }
    .lReport1{
        font-size: 12px;
    } 
}
@media screen and (max-width: 720px), screen and (max-height: 580px)  {    
    .header h4{
        font-size: 12.5px;
    }    
    .body li{   
        margin-top: -4px;
        font-size:12px;
    }
    .report1{        
        font-size: 11px;
    }
    .lReport1{
        font-size: 11px;
    } 
}

/* @media screen and (max-height: 850px ) {    
    .header h4{
        font-size: 20px;
    }
    .body li{   
        font-size:18px;
    }
    .report1{        
        font-size: 15px;
    }
    .lReport1{
        font-size: 17px;
    }
}
@media screen and (max-height: 750px) {    
    .header h4{
        font-size: 18px;
    }
    .body li{   
        font-size:15px;
    }
    .report1{        
        font-size: 14px;
    }
    .lReport1{
        font-size: 16px;
    }
}
@media screen and (max-height: 640px) {    
    .header h4{
        font-size: 17px;
    }
    .body li{   
        margin-top: -4px;
        
    }
    .body li{   
        font-size:14px;
    }
    .report1{        
        font-size: 13px;
    }
    .lReport1{
        font-size: 15px;
    }
} */


/* estados financiero */


.contend-table{
    /* height: calc(100vh - 42vh); */
    overflow-y:scroll  !important;
    padding-bottom: 20px;
    height: 100% !important;
}
.content-list-estados-financieros{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 13;
    height: 100%;
    overflow-y: scroll;
    /* margin-bottom: 2200px; */
}
/* @media screen and (min-width: 1600px) { */
 
/* } */

#caja-content-table{
 
    /* height: calc(100vh - 56vh) !important;} */
}

#reporte-ventas-table{
    /* height: calc(100vh - 56vh) !important; */

}

/* btn imprimit   reporte*/
.content-btn{
    /* background: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.btn-imprimir{
    align-items: center;

    background-color: var(--color-secuandrio-1);
    color: white;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    /* width: 90px; */
}
.btn-imprimir:hover{
    background-color: var(--color-secuandrio-2);
}

/* inut radio */
input[type="radio"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
  }
  
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  .label-imprimir{
    margin-right: 20px;
  }
  .abel-imprimir input{
    margin-right: 20px;
  } 

  /* btn generar descargar pdf */
  .content-btn-pdf{
    /* background-color: red; */
    margin-top: 30px;
    margin-bottom: 40px;    display: flex !important;
    justify-content: center !important;
  }
  .btn-donwload-pdf{
    color: white;
  }

  /* btn actualizar and new gast */

  .btn-op{
    color: white;
    background-color: #1D2D44;
    margin-right: 10px;
    border-radius: 20px;
    padding-left: 9px;
    padding-right: 9px;
    outline: none;
    box-shadow: 90px;
  }
  .btn-op:hover{
    background-color: #ac29e0;
  }