.buttonCategory {
    background-color:var(--bg-t-color-2) ; /* Green */
    border: none;
    color: white;
    padding: 3px 15px 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 15px;    
}
.buttonCategory.nuevo{
    background-color:var(--bg-t-color-1) ; /* Green */
    border: none;
    color: white;
    padding: 3px 15px 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 15px; 
}

.bg-color-subcategoria{
    background-color:var(--bg-t-color-1);
}

.blue{
    background-color: var(--bg-t-color-2);
}

.buttonCategory:hover{
    background-image:var(--bg-btn-1);   
    transition: ease 350ms;
}

#table-data{
    overflow-y: scroll !important;
    /* background-color: red; */
    padding-bottom: 60px;
    height: 100%;

}


/* Categorias productos */

#table-data{
    /* background: red !important; */
    /* height: 80vh; */
}

.contend-table{
    /* background-color: green; */
    
}