:root{
    --color-primario: #131315;
    --color-secuandrio-1: #18181B;
    --color-secuandrio-2: #1D2D44;
    --color-secunadrio: #772CE8;
    --color-secundario-hover: #9256ED;
    --color-terciario: #1F1F23;
    --color-cuarto: #464649;  

    /* tetx */
    --color-text-primario: #EFEFF1;
    --color-text-secundario: #bbbbbb;
    --color-text-white: #FFFFFF;

    /* border */
    --border-1-solid:1px solid white;
    --border-2-solid:2px solid white;

    /* table */
    --table-text-1:white;
    --table-text-2:white;
    --table-border-1:white;
        
    
}