:root{
    --color-primario: #131315;
    --color-secuandrio-1: #18181B;
    --color-secuandrio-2: #1D2D44;
    --color-secunadrio: #772CE8;
    --color-secundario-hover: #9256ED;
    --color-terciario: #1F1F23;
    --color-cuarto: #464649;  
    --color-text-primario: #EFEFF1;
    --color-text-secundario: #bbbbbb;
    --color-text-white: #FFFFFF;
    
}