.ventas-content{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 16;

    /* background: rgb(2, 216, 38); */
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}
.contend-gastos{   
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 16;


    overflow-y: scroll;
    /* margin-bottom: 10px; */
    margin-left: 10px;
    width: 100%;
    height: 100%;
    /* grid-template-columns: repeat(12); */
    position: relative;
    color:#D8DBE2;
}


.contend-gastos::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contend-gastos::-webkit-scrollbar:vertical {
    width:10px;
}

.contend-gastos::-webkit-scrollbar-button:increment,.contend-gastos::-webkit-scrollbar-button {
    display: none;
} 

.contend-gastos::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contend-gastos::-webkit-scrollbar-thumb {
    background-color: #27272B;
    border-radius: 15px;
    border: 1px solid #f1f2f349;
}

.contend-gastos::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.conted-left{
    color:#0a4ce7;
    position:absolute;
    left: 15px;
}

.conted-right{
    top:5px;
    position:absolute;
    right: 15px;
    
}
.button-table{
    border:none;
    border-radius: 15px;
    padding: 7px 15px;
    background-color: #27272B;
    color: #D8DBE2;
}

.button-table:hover{   
    background-color: rgba(230, 230, 230, 0.37);
}
.active-button-table{
    background-color: rgba(197, 195, 195, 0.246);
}
.contend-table-gastos{
    /* background-color:red; */
    position: absolute;
    width: 100%;
    height: 85%;
    top:50px;
    overflow-y: scroll;
}

.heightAdmin{
    height:800px;
    overflow: scroll;
}
.contend-table-gastos::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contend-table-gastos::-webkit-scrollbar:vertical {
    width:10px;
}

.contend-table-gastos::-webkit-scrollbar-button:increment,.contend-table-gastos::-webkit-scrollbar-button {
    display: none;
} 

.contend-table-gastos::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contend-table-gastos::-webkit-scrollbar-thumb {
    background-color: #27272B;
    border-radius: 15px;
    border: 1px solid #f1f2f349;
}

.contend-table-gastos::-webkit-scrollbar-track {
    border-radius: 10px;  
}


