.ticket-container{
    /* background-color: red; */
    width: 100% !important;
    text-align: center;
}
.ticket-container li{
    list-style:none;
}
.ticket-container hr{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.ticket-header{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ticket-body{    
      
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
.ticketTable{    
    width: 100%;    
}
.ticket-footer{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: end;
}
.button-ticket{
    background-color: #1D2D44; /* Green */
    border: none;
    color: #D8DBE2;
    padding: 7px 10px 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10.5px 6px;
    cursor: pointer;
    border-radius: 15px; 
    width: 180px;  
}
.button-ticket:hover{
    background-color: #d8dbe24b;
    transition: ease 350ms;
}