/*----fontst-- */

#print *{
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Source Serif 4', serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}
/* ----end--- */

.ticket-container{
    /* background-color: red; */
    width: 100% !important;
    text-align: center;
}
.ticket-container li{
    list-style:none;
}
.ticket-container hr{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.ticket-header{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ticket-body{    
      
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
.ticketTable{    
    width: 100%;   
    border-bottom: 1px solid #000;; 
}
.ticket-footer{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: end;
}
.data-ticket{
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
} 


.divider-tickets{
    width: 100%;
    height: 0.2px;
    border: 0.1px solid #000;
    
}
.ticketTable thead{
    border-bottom: 1px solid #000000;
}
.ticket-resumen{
    margin-top: 20px;
    /* background-color: #003ac2; */
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: end;
    padding-right: 10px;
    

}

.content-resumen-ticket{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name-product{
    text-align: start;
}

.button-ticket{
    background-color: #1D2D44; /* Green */
    border: none;
    color: #D8DBE2;
    padding: 7px 10px 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10.5px 6px;
    cursor: pointer;
    border-radius: 15px; 
    width: 240px;  
}
.button-ticket:hover{
    background-color: #d8dbe24b;
    transition: ease 350ms;
}

.ticket-title{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px !important;
}
