.container-card-list{
    position: relative;
    margin: 10px;
    margin-bottom: 20px;
    width: 92%; 
    height: 225px;
    /* background-color: rgb(71, 71, 71); */

    display: flex;
    flex-direction: column;
    align-content: space-between;
    border-radius: 15px;
    border-style: solid;
    border-color: #969696;
    border-width: 1px;

}
.card-contend{
    /* background-color: rebeccapurple; */
    height: 100%;
    width: 100%;
}

.card-header-list{
    height: 60%;
}

.contend-image-ventas {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    
}
.contend-image-ventas img{ 
 

    width: 100%;
    height: 100%;
    
    /* position: relative; */
    object-fit: cover;
    /* object-position: 100%; */
    /* object-position: center; */
    border-radius: 15px;  
    background-color: rgb(252, 252, 252); 
}
.card-container{
    /* position: relative; */
    width: 100%;
    height: 100%;
    padding: 3px 5px;
    background-color: rgba(0, 0, 0, 0.568);
    /* background-color: #00e990; */
    background-image: linear-gradient(0deg, #464646 0%, #ffffff00 40%);
    border-radius: 15px;
    color: rgb(253, 253, 253);
    
    /* font-weight: bolder */;
}



.br-vard-menu {
    content: "";
    margin: 0px;
    display: block;
    font-size: 1%;
}

.content-nombre-cantidad{
    text-transform: lowercase !important;
    /* background-color: rgb(60, 16, 255); */
    /* position: relative; */
    left: 0;
    width: 100%;
    /* bottom: 20px; */
    /* margin-bottom: 12px; */
    text-transform: none;
  
    /* line-height:15px; */
    /* height: 30px; */
}
.content-nombre-cantidad::first-letter{
    text-transform: uppercase;
}
.text-header-title{
    /* text-decoration: underline; */
    /* position: absolute; */
    /* top */
    color: black;
    margin: 2px;
    line-height: 1.1;  
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    /* text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black; */
    /* background-color: rgb(7, 228, 162); */
    height: 35px !important;
    overflow-y: hidden;
    text-overflow: ellipsis !important;
    display: -webkit-box;
        -webkit-line-clamp: 1;
    /* background-color:rgba(68, 68, 68, 0.349);
    border-radius: 5px; */
    /* font-family:"Lucida Console", "Courier New", monospace; */
    /* font-weight: bolder */
}


.text-codigo-producto{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0b98eb25;
    background-image: linear-gradient(0deg, #1a1a1a 0%, #80d0c700 89%);
    /* bottom: 35px; */
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    
    font-weight: 600;
    padding-left: 12px;
    z-index: 3;
}

.text-cantidad{
    color: #000000;
    font-weight: normal;
    font-size: 13.5px;
    margin-left: 2px;
    margin-right: 2px;
    /* text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
.text-header{  
    position: absolute;
    top: 0px;
    right: 0;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(107, 107, 107) , rgb(43, 43, 41) , rgb(102, 102, 102));
    border: rgb(7, 228, 162) 1px solid;

    border-radius: 60px;
/* background: #e0e0e0; */
    box-shadow:  3px 3px 5px #cecece,
             -3px -3px 5px #f2f2f2;
    margin-top:-14px;
    font-size: 17px; 
    font-weight: semi-bold;
    line-height: 1.1;
    border-radius: 0 10px 0 10px;
    padding: 3px 10px 3px 10px;  

    font-family:"Lucida Console", "Courier New", monospace;    
}

.info-product{  
    position: absolute;
    /* margin-top:-15px;   */
    background-color:rgba(248, 37, 160, 0);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    top:0;
    z-index: 3;
}

.card-footer-list{
    /* background-color: red; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    bottom:0px;
    height: 40%;
}
.btn-card-footer{
    background-color: #323552;
    color: #fdfdfd;
    padding: 2px 8px; 
    margin-left: 2px;
    margin-right: 2px;   
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-style: initial;          
}
.tex-description{
    /* position: absolute; */
    color: white;
    right: 5px;
    bottom: -10px;
    border: 1px solid #0e5fd1 !important;
    width: 25px;
    height: 25px;
    font-size: 40px;
    line-height: 1.1;
    font-family:"Lucida Console", "Courier New", monospace;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 3;
}

.description-text-hover{
    position:absolute;
    background-color:#1b1b1ed7 !important;
    
    color: white;
    width: 190px;
    /* z-index: 1; */
    top: 50%;
    left:-10px;
    padding:2px;
    border-radius: 10px;
    text-align: center;
    z-index: 3;
}
.description-text-hover p{
    font-size: 14px;
    line-height: 1;
    height: 60%;
    /* font-family:"Lucida Console", "Courier New", monospace; */
    position: relative;
    top:8px;  
    z-index: 3;  
}



/* @media screen and (max-width: 1140px) {    
    .container-card-list{
        width: 155px; 
        height: 185px
    }
}
@media screen and (max-width: 960px) {     
    .container-card-list{
        width: 145px; 
        height: 175px
    }
}

@media screen and (max-width:  720px) {    
    .container-card-list{
        width: 135px; 
        height: 155px
    }
} */
