
.conted-venta{
    position: relative;
}
.conted-products{
    background-color: var(--color-secuandrio-1);
    position: absolute;
    width: 60%;    
    padding:  10px;
    padding-top: 20px;
    border-radius: 15px;
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(auto-fit, 12.5rem);
    grid-template-rows:auto 1fr;
    grid-column-gap: 6px;
    row-gap: 15px;
    justify-content: center;   
    overflow-y: scroll;
}

.conted-form-venta{
    background-color: var(--color-secuandrio-1);
    position: absolute;
    width: 39%;
    right: 0px;
    padding: 10px 10px 10px 10px;
    /* margin-bottom: 30px !important; */
    border-radius: 15px;
    overflow-y: scroll;
    /* background-color: red; */
}
.heightAdmin{
    height: 850px;
}
.tableOutModal{
    height: 40% !important;
}

.conted-products::-webkit-scrollbar {
    -webkit-appearance: none;
}

.conted-products::-webkit-scrollbar:vertical {
    width:10px;
}

.conted-products::-webkit-scrollbar-button:increment,.conted-products::-webkit-scrollbar-button {
    display: none;
} 

.conted-products::-webkit-scrollbar:horizontal {
    height: 10px;
}

.conted-products::-webkit-scrollbar-thumb {
    background-color: #27272B;
    border-radius: 15px;
    border: 1px solid #f1f2f349;
}

.conted-products::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* sdfsdf */

.conted-form-venta::-webkit-scrollbar {
    -webkit-appearance: none;
}

.conted-form-venta::-webkit-scrollbar:vertical {
    width:10px;
}

.conted-form-venta::-webkit-scrollbar-button:increment,.conted-form-venta::-webkit-scrollbar-button {
    display: none;
} 

.conted-form-venta::-webkit-scrollbar:horizontal {
    height: 10px;
}

.conted-form-venta::-webkit-scrollbar-thumb {
    background-color: #27272B;
    border-radius: 15px;
    border: 1px solid #f1f2f349;
}

.conted-form-venta::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* --- pdf--- */
.content-btn-pdf{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-donwload-pdf{
    border-radius: 20px;
    background-color: var(--color-primario);
    padding:10px 30px 10px 30px;
    cursor: pointer;
}

.btn-donwload-pdf:hover{
    background-color: var(--color-secuandrio-2);
}
.label-imprimir{
    margin-top: auto;
    margin-bottom: auto;
}
/* --------- */

@media screen and (max-width: 1140px) {    
    .conted-products{
        grid-template-columns: repeat(auto-fit, 11rem);
        grid-template-rows:auto 1fr;
        grid-column-gap: 10px;
        row-gap: 10px;
    }
}
@media screen and (max-width: 720px) {    
    .conted-products{
        grid-template-columns: repeat(auto-fit, 9rem);
        grid-template-rows:auto 1fr;
        grid-column-gap: 10px;
        row-gap: 2px;
    }
}

@media screen and (min-width: 1600px) {
    .conted-products{
        padding-top:40px;
        padding-bottom: 100px;
    }
}