
.content-ventas{
    /* background-color: rgb(3, 33, 184) !important; */
    overflow-y: scroll;
    width: 100%;
    height: 90%;


}

.content-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
   
   
}

.card-ventas{
    /* background-color: rgb(255, 72, 179); */
    width: 200px;
    height: 300px;
    /* background-color: black !important; */
    border-radius: 10px;
    margin: auto;

}
.card-state-venta{
    display: flex;
    justify-content: space-between;
}

.content-select select{
     /* width: 240px;  */
     color: white;
     height: 25px; 
     overflow: hidden; 
     box-shadow: none;
     background:  rgb(46, 41, 73); 
     border: 1px solid rgb(170, 13, 13);
     border-radius: 20px !important;
}

.espera{
    background-color: rgb(226, 42, 143);
}
.proceso{
    background-color: rgb(0, 183, 255);
}

.enviado{
    background-color: rgb(24, 241, 122);
}

.card-options{
    position: relative;
    width: 100%;
    height: 64%;
    overflow-y: auto;

}

.card-options::-webkit-scrollbar {
    width: 5px;  /* Remove scrollbar space */
    border-radius: 10px;
    margin: 10px 0 10px 0;
    background: rgb(0, 233, 182);  
}

.card-options::-webkit-scrollbar-thumb {
    background: rgb(36, 37, 65);  /* scrollbar color */
    border-radius: 10px;
}


.content-list-products{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    /* background-color: rgba(198, 223, 58, 0.377) !important; */
    width: 100%;
    height: 100%;
}

.card-header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    font-family: 100px;
    /* z-index: 3; */
    /* opacity: 0.5; */
    /* background-color: rgb(26, 22, 37) !important; */
    
}

.card-header h5{
    z-index: 1;
}
.card-header h4{
    z-index: 1;
}
.card-header::before{
    position: absolute;
    filter: blur(3px);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(24, 20, 49) !important;
    content: "";    
    z-index: 1;
}