.content-serch-component{
    display: flex;
    justify-content: left;
    margin-bottom: 2px;
}

.search-component{
    display: flex;
    flex-direction:row;
    border-radius: 20px;
    background-color: white !important;

}

.svg{
    margin-left: 7px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 20px;

    color: rgb(152, 31, 233);
}
.input-content{
    /* background: red; */
    margin: 1px;;
}
.input-content input{
    outline: none;
    border: none;
    border-radius: 0  20px 20px 0;
}

.content-btn-search{
    background: white;
    border-radius: 0 20px 20px 0;
}

.content-btn-search .btn-search{
    border: none;
    outline: none;
    margin: 1px 1px;
    border-radius: 0 20px 20px 0;
    color:var(--color-text-white);
    background-color: var(--color-text-secundario);
}

.content-btn-search .btn-search:hover{
    background-color: rgb(22, 214, 166);
    color: white;
}

.content-select-products{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    /* margin-top:2px; */
}

.btn-select{
    /* background-color: rgb(247, 48, 48); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    padding-left: 2px;
    padding-right:2px;
    margin-left: 2px;
    margin-right: 1px;
    cursor: pointer;

}

.select-option-propduct{
    height: 20px;
    
    outline: none;
    border-radius: 20px;
    border: transparent;
    background-color: aliceblue;
    margin-top: 2px;
}

.active-precio{
    background-color: rgb(22, 214, 166);
    color: white;
    border-radius: 20px;
}

.active-cantidad{
    background-color: rgb(22, 214, 166);
    color: white;
    border-radius: 20px;
}

.active-categoria{
    background-color: rgb(22, 214, 166);
    color: white;
    border-radius: 20px;
}

/* ---pagination--- */

.pagination{
    position: absolute;
    background-color: rgb(46, 44, 44);
    bottom: 10px;
    right: 50px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    z-index:12;
    
}
.pagination-item{
    margin: 2px 4px 2px 4px;
    border:1px solid #ffffff;
    padding: 0px 3px 0px 3px;; 
    
}

.pagination-item:hover{
    background-color: rgb(22, 214, 166);
    color: white;
    /* border-radius: 20px; */
    cursor: pointer;
}
.pagination a{
    text-decoration: none;
    color: white;
    border-radius: 20px;
}
.pagination a:focus {
    background-color: rgb(22, 214, 166);
    color: white;
    border-radius: 20px;
    
}




