.cardUser{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgb(255, 131, 131); */
    /* position: relative; */
    margin: 10px;
    width: 210px;
    height: 300px;   
    border-radius: 15px;
    color:var(--color-text-primario);
    /* overflow-y: scroll; */
    border-style: solid;
    border-color: var(--border-3-solid);
    border-width: 1px;

}

.cardUser::-webkit-scrollbar{
    /* visibility: hidden; */
    /* color: transparent; */
    width: 0px;
}
.cardUser::-webkit-scrollbar-thumb{
    /* color: transparent; */
    width: 1px;
    height: 1px;
}
.cardUser::-webkit-scrollbar-track{
    color: transparent;
    width: 1px !important;
}

.cardUser img {
    margin: 15px 25%;
    background-color: #D8DBE2;
    width: 105px;
    height: 105px;
    border-radius: 50%;
}
.navigation-contend-user{
    /* background-color: rgba(255, 0, 0, 0.404); */
    padding: 0px 10px;
    height: 57%;
}
.cardUSer-body{
    background-color: rgba(255, 255, 255, 0.527);
    height: 60%;
    /* width: 170px; */
    padding-top: 12px;
    padding-bottom: 12px;
    text-overflow:ellipsis;
    margin-left: 10px;
    overflow-y: scroll;
    

}
.cardUSer-body::-webkit-scrollbar{
    width: 2px;
    height: 3px;
}
.cardUSer-body::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.cardUSer-body::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


.cardUSer-body p{
    font-size: 15px;
}
.description{
    margin-top:-11px;
    width: 100%;
    text-overflow: ellipsis !important;
}
.cardUSer-footer{
    position: relative;    
    height: 18%;
    padding: 10px 0px;
    /* background-color: red; */
}
.btn-cardFooter{
    position: absolute;
    bottom: 0px;
}
.users{
    height: 25%;
}

@media (max-width: 1140px) {
    .cardUser{
        margin: 10px;
        width: 180px;
        height: 260px;   
        border-radius: 12px;    
    }
    .isUser{
        width: 180px;
        height: 290px;  
    }
    .cardUser img {
        margin: 15px 21%;
        
    }
    .cardUSer-body{
        /* background-color: rgb(121, 250, 121); */
        height: 65%;
        margin-left: 10px;
        text-overflow: ellipsis;
        width: 90%;
        /* overflow-x: hidden; */
        
    }
    .card-container-user{
        text-overflow: ellipsis !important;
        /* background: gray; */
    }

    .cardUSer-body p{
        font-size: 14px;
        
    }
    .cardUSer-footer{        
        height: 23%;
    }
    .users{
        height: 25%;
    }
}
