.head-container{
    /* background-color: var(--color-primario); */
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;


    /* background-color: green; */
    position: relative;    
    /* padding: 0 4px 0 4px; */
    height: 100%;
    /* min-width: 576px; */
    /* height: 140px; */
}

@media (min-width:1600px) {
    .head-container{
        /* height: 190px; */
    }
}
.navigation-contend{
    /* background-color:red !important; */
    display: grid;
    grid-template-columns: repeat(1,1fr) !important;
    grid-template-rows: repeat(15, 1fr) !important;


    padding: 5px;

    width: 16.5%;
    height: 100vh;
    background-color: var(--surface-1) !important;
    /* min-width:576px; */
    position: absolute;
    /* border-radius: 9px solid red !important; */
    /* bottom: 0; */
    left: 0;
    z-index: 40;
    
}
/* header menu de navegacion */
.navbar-navegation{
    border:var(--border-1-solid);
    -webkit-box-shadow: 9px 9px 17px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 17px -16px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 17px -16px rgba(0,0,0,0.75);
    
}
.navigator{
    /* background-color:rgba(117, 0, 0, 0.432); */
    position: relative;
    /* display: flex !important;
    flex-direction: column !important; */
    text-decoration: none;     
    border-radius: 10px;
    margin:9px;
    height:57.5%; /* 1080 maximo alto es 113px  */
    /* background-color: red; */
    
}
.navigator .labelLogo{
    color: var(--color-primario);
    font-size: 1.2rem;
    margin-left: 6px;
}

.navigato-content-text-icon{
    display: flex;
    /* justify-items: center;
    justify-content: center;
    align-items: center; */
    width: 30px;
}
.navigator:hover{
    border-radius: 20px;    
    transition: ease 200ms;
    background-color: rgba(131, 130, 130, 0.342);
}
.logoImg{
    max-height: 100%;
    width: 100%;
    /* object-fit: scale-down;   */
    /* display:block;   */
}

.labelLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* top: 65%;
    left: 50%; */
    /* transform: translate(-50%, 0%);
    font-size: 28px; */
}
.selected{
    border-radius: 15px;
    border:2px solid rgba(134, 134, 134, 0);   
    background-color: rgba(131, 130, 130, 0.376);
}
.labelSelected{
    font-size: 1.7rem;    
}
.navbar-content{
    background-color: var(--color-primario);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: no-wrap;
    align-items: center;
    height: 100%;
    padding: 2px 10px 2px 10px;
    border: 1px solid white;
    /* margin: 0 0 2px 0; */
}
.content-user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: crimson; */
    height: 100%;
   
}

.user-img{    
    /* background-color: chocolate; */
    padding: 5px;

}
.user-name{
    height:100%;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 4px;
    padding-right: 4px;
   /*  background-color: rgb(153, 136, 99); */    
    list-style-type: none;

}
.textRole{
    color: rgb(160, 160, 160)!important;
}

.logo .nameLogo{
    font-size:1.7rem;
    text-transform: uppercase;
}
.contendButtons{ 
    display: flex;
    justify-content: flex-end;
    /* background: chartreuse; */
    /* padding: 10px; */
    width: 15%;
    margin-left: 20px;


}

.button-getOut{
    padding: 2px 10px 2px 10px;
    border: none;
    border-radius: 18px;
    font-size: 100%;
    font-style: initial;  
    background-color: var(--color-secunadrio) !important;     
}

.button-getOut:hover{
    color: white !important;
}



.icon-menu{
    color: aliceblue !important;
    width: 30px;
    margin-right: 40px;
}
/* .menuSatate{
    height: 70px;
} */

@media screen and (min-width: 1600px) {
    /* imagenes de los icono del mene header */
    .logoImg{
        height: 95%;
    }

}

/* menu icon */
.content-menu-icon{
    width: 35px;
    height: 35px;
}

.content-menu-icon:hover{
    background-color: rgb(63, 63, 63);
    border-radius: 50%;
    padding: 2px;
}

.content-menu-icon svg{
    color: rgb(255, 255, 255);

}

.icon-and-logo {
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo-nuxtbo{
    margin-left: 10px;
    font-size: larger;
    color: white;
}
